* {
  box-sizing: content-box;
  width: 100%;
  transition: border-radius 0.1s;
}

:focus {
  outline:none;
  border-color: orangered;
  border-width: 2px;
}

body {
  text-align: center;
  background: rgb(255,205,0);
  background: linear-gradient(to bottom right, rgb(200, 255, 0),10%,rgb(255,205,0)20%, rgba(255,94,0));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input {
  border: orangered 1px solid;
  padding:1rem;
  background-color: rgb(255, 188, 44);
  border-radius: 15px;
  
}

.search-container {
  position:relative;
  display:inline-block;
  bottom:-50vh;
  width: 30%;
}

ul {
  padding:0;
}
ul li {
  background-color: rgb(255, 188, 44);
  list-style: none;
  padding:.6rem 1rem;
  margin:0;
  transform: translateY(-15px);
  text-align: left;
  border-style: none solid none solid;
  border-color: orangered;
  border-width: 2px;
}
ul li:hover {
  background-color: orangered;
}

li:last-child{
  border-radius: 0 0 15px 15px; 
  border-style: none solid solid solid;
  border-color: orangered;
  border-width: 2px;
}