* {
  box-sizing: content-box;
  width: 100%;
}

:focus {
  outline: 2px solid orangered;
}

body {
  text-align: center;
  background: linear-gradient(90deg, rgba(255,205,0,1) 0%, rgba(255,94,0,1) 100%);
}

input {
  border: orangered 1px solid;
  padding:1rem;
  background-color: rgb(255, 188, 44);
  
}

.search-container {
  position:relative;
  display:inline-block;
  bottom:-50vh;
  width: 30%;
}

ul {
  padding:0;
}
ul li {
  background-color: rgb(255, 188, 44);
  list-style: none;
  padding:.6rem 1rem;
  margin:0;
  transform: translateY(-14px);
  text-align: left;
}
ul li:hover {
  background-color: orangered;
}